.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.score {
  margin-top: 50px;
  background-color: antiquewhite;
  border: 5px solid rgb(172, 168, 162);

}

.file-upload-submit {
  margin-top: 40px;
  margin-left: 180px;
}


.test {
  background-color: rgb(168, 177, 85);
  margin-top: auto;
  margin-left: 160px;
  width: 50px;
  border: 5px solid black;
  flex: 1;
  display: flex;
}

.background {
  color: rgb(73, 83, 76);
}

.Pitches {
  margin: 10px;
}

.Pitches1 {
  min-width: 200px;
  min-height: 100px;
  border: 2px solid black;
}

.dropMidi {
  border: 5px solid rgb(172, 168, 162);
  padding: auto;
  background-color: antiquewhite;
  margin-top: 50px;
  flex: 1;
  min-width: 50px;
  height: 50px;


}

.musicatGroups {
  margin-top: 50px;
  margin-left: 50px;
}

.flex-pitch {
  
  margin: auto;
}

.notePlaceholder {
  min-height:"45px";
  min-width:"45px" ;
  flex: 1;
}

.chooseMeter-container {
  margin-left: 150px;
  float: left;
}

.topColumnRight{
  width: 830px;
  height: 800px;
  float: right;
}
.topColumnLeft{
  width: 800px;
 
  float: left;
}



.column1{
  float: left;
}

.column2{
  float: right;
}
.column3{
  float: right;
  margin: 50px;
}

.flex-container {
  display: flex;
  height: 130px;
  min-width: 460px;
  width: fit-content;
  
  row-gap: 20px;
  
  
}

.flex-container-outer {
  display: flex;
  height: 100px;
  min-width: 450px;
  width: fit-content;
  border: 2px solid black;
  }
  

  

.div-top {
  margin-top: 50px;
  margin-left: 20px;
  width: 960px;
  height: 400px;
  
}

.row {
  height: 200px;

}
.rowM {
  display: flex;
  margin-top: 20px;
  width: fit-content;
  height: 150px;

}

.groupsButton
{
  margin-left: 170px;
  margin-top: 25px;

}
.groups
{
  margin: 10px;
  height: 130px;
  min-width: 450px;
  width: fit-content;
  display: flex;
float: right;
}
.rowA {
  margin: 2px;
  
  
 
  
}

.rowA1 {
  margin: 2px;
  
}

.rowA0 {
  margin: 2px;
  
}




.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
